{% extends 'wrapper.html' %}
{% load static humanize %}
{% block title %}Статьи{% endblock %}
{% block content %}
    {% include 'blocks/header.html' %}
    <section class="p-0 mobile-height parallax mb-5" data-parallax-background-ratio="0.5"
                 style="background-image: url('{% static 'img/home-corporate-parallex-bg.jpg' %}');">
            <div class="opacity-light bg-gradient-black-blue z-index-0"></div>
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-6 col-lg-7 col-md-10 d-flex flex-column justify-content-center text-center full-screen position-relative z-index-1 md-landscape-h-600px">
                        <h2 class="text-white alt-font font-weight-600 letter-spacing-minus-1 text-shadow-large sm-no-text-shadow">Товары “IN VITRO”</h2>
                    </div>
                </div>
            </div>
{#            <video class="d-xl-block d-none first-block__video" autoplay loop muted playsinline src="/static/img/bg.webm"></video>#}
        </section>

    <section class="shopping-left-side-bar pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9 col-md-8 shopping-content padding-55px-left md-padding-15px-left sm-margin-30px-bottom">
                        <ul class="product-listing shop-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
                            <li class="grid-sizer"></li>
                            {% for product in products %}
                                <li class="grid-item wow animate__fadeIn">
                                    <div class="product-box margin-25px-bottom xs-margin-15px-bottom">
                                        <div class="product-image border-radius-6px">
                                            <a href="#">
                                                <img class="default-image" style="width: 100%; height: 40vh; object-fit: cover;"
                                                src="{% if product.img_preview %} {{ product.img_preview.url  }} {% endif %}"
                                                alt=""/>
                                                <img class="hover-image" style="width: 100%; height: 40vh; object-fit: cover;"
                                                src="{% if product.img_hover %} {{ product.img_hover.url  }} {% endif %}"
                                                alt=""/>
                                            </a>
                                            <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                            <div class="product-hover-bottom text-center padding-30px-tb">
                                                <a href="{% url 'mainapp:product_detail' product.id %}"
                                                class="product-link-icon move-top-bottom"
                                                data-toggle="tooltip"
                                                data-placement="top" title=""
                                                data-original-title="Посмотреть">
                                                    <i class="feather icon-feather-zoom-in"></i>
                                               </a>
                                            </div>
                                        </div>
                                        <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                            <a href="#" class="text-extra-dark-gray font-weight-500 d-inline-block text-truncate">
                                                {{ product.title_ru }}
                                            </a>
                                            <div class="product-price text-medium">{{ product.price|intcomma }} Сум</div>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                <p>Товаров нет</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- start sidebar -->
                    <aside class="col-12 col-lg-3 col-md-4 shopping-sidebar">
                        <div class="border-bottom border-color-medium-gray padding-3-rem-bottom margin-3-rem-bottom wow animate__fadeIn">
                            <span class="shop-title alt-font font-weight-500 text-extra-dark-gray d-block margin-20px-bottom">Выберите категорию</span>
                            <form method="GET" action="{% url 'mainapp:product_list' %}" class="d-none category_filter_form">
                                <input name="category_id" type="text" value="" class="category_filter_form_input">
                                <input type="submit" class="category_filter_form_submit">
                            </form>
                            <ul class="list-style-07 filter-category">
                                {%  for category in categories %}
                                    <li class="category_filter_id" data-id="{{ category.id }}">
                                        <a href="#" {% if category.id|stringformat:"i" == category_id %} class="active" {% endif %}>
                                            <span class="product-cb product-category-cb"></span>
                                            {{ category.name_ru }}
                                        </a>
                                        <span class="item-qty">
                                            {{ category.product_count }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                    <!-- end sidebar -->
                </div>
            </div>
        </section>
    {# Footer #}
    {% include 'blocks/footer.html' %}
    {# End Footer #}
    {# ScrollTopButton #}
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
    {# End ScrollTopButton #}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('.category_filter_id').on('click', function() {
            $('.category_filter_form_input').val($(this).attr('data-id'))
            $('.category_filter_form_submit').click()
        })
    })
</script>
{% endblock %}

