{% extends 'wrapper.html' %}
{% load static humanize %}
{% block title %}Статьи{% endblock %}
{% block content %}
    {% include 'blocks/header.html' %}
    <section class="p-0 mobile-height parallax mb-5" data-parallax-background-ratio="0.5"
             style="background-image: url('{% static 'img/home-corporate-parallex-bg.jpg' %}');">
        <div class="opacity-light bg-gradient-black-blue z-index-0"></div>
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-lg-7 col-md-10 d-flex flex-column justify-content-center text-center full-screen position-relative z-index-1 md-landscape-h-600px">
                    <h2 class="text-white alt-font font-weight-600 letter-spacing-minus-1 text-shadow-large sm-no-text-shadow">
                        Mahsulot {{ product.title_uz }} “IN VITRO”
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="big-section wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-12 shopping-content d-flex flex-column flex-lg-row align-items-md-center">
                        <div class="w-60 md-w-100">
                            <div class="product-images-box lightbox-portfolio row">
                                <div class="col-12 col-lg-9 px-lg-0 order-lg-2 product-image md-margin-10px-bottom">
                                    <div class="swiper-container product-image-slider" data-slider-options='{ "spaceBetween": 10, "watchOverflow": true, "navigation": { "nextEl": ".slider-product-next", "prevEl": ".slider-product-prev" }, "thumbs": { "swiper": { "el": ".product-image-thumb", "slidesPerView": "auto", "spaceBetween": 15, "direction": "vertical", "navigation": { "nextEl": ".swiper-thumb-next", "prevEl": ".swiper-thumb-prev" } } } }' data-thumb-slider-md-direction="horizontal">
                                        <div class="swiper-wrapper">
                                            {% for photo in product_photo %}
                                                <div class="swiper-slide">
                                                    <a class="gallery-link" href="{{ photo.photo.url }}">
                                                        <img class="w-100" src="{{ photo.photo.url }}" alt="">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="slider-product-next swiper-button-next text-extra-dark-gray"><i class="fa fa-chevron-right"></i></div>
                                    <div class="slider-product-prev swiper-button-prev text-extra-dark-gray"><i class="fa fa-chevron-left"></i></div>
                                </div>
                                <div class="col-12 col-lg-3 order-lg-1 single-product-thumb md-margin-50px-bottom sm-margin-40px-bottom">
                                    <div class="swiper-container product-image-thumb slider-vertical padding-15px-lr padding-45px-bottom md-no-padding left-0px">
                                        <div class="swiper-wrapper">
                                            {% for photo in  product_photo %}
                                                <div class="swiper-slide">
                                                    <img class="w-100" src="{{ photo.photo.url }}" alt="">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="swiper-thumb-next-prev text-center">
                                        <div class="swiper-button-prev swiper-thumb-prev"><i class="fa fa-chevron-up"></i></div>
                                        <div class="swiper-button-next swiper-thumb-next"><i class="fa fa-chevron-down"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-40 md-w-100 product-summary padding-7-rem-left lg-padding-5-rem-left md-no-padding-left">
                            <div class="breadcrumb text-small p-0">
                                <!-- start breadcrumb -->
                                <ul>
                                    <li><a href="{% url 'mainapp:product_list_uz' %}">Do'kon</a></li>
                                    <li>{{ product.title_uz }}</li>
                                </ul>
                                <!-- end breadcrumb -->
                            </div>
                            <div class="d-flex align-items-center margin-3-half-rem-tb md-margin-1-half-rem-tb">
                                <div class="flex-grow-1">
                                    <div class="text-extra-dark-gray font-weight-500 text-extra-large alt-font margin-5px-bottom">
                                        Mahsulot nomi: {{ product.title_uz }}
                                    </div>
                                    <span class="d-block">Qisqacha malumot: {{ product.subtitle_uz }}</span>
                                    <span class="product-price text-extra-medium">Narxi: <del>{{ product.show_price }} So'm</del>{{ product.price }} So'm</span>
                                </div>
                            </div>
                            <div class="last-paragraph-no-margin">
                                Malumotlar: {{ product.description_uz | safe }}
                            </div>
                            <div class="mt-5">
                                <button type="button" data-toggle="modal"
                                    data-target="#exampleModal" class="btn btn-dark-gray btn-medium">
                                    Buyurtma bermoq
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section class="border-top border-width-1px border-color-medium-gray wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-5 col-md-6 text-center margin-4-rem-bottom sm-margin-2-rem-bottom">
                        <span class="alt-font font-weight-500 text-uppercase d-inline-block margin-5px-bottom">
                            SIZGA YOQISHI MUMKIN BO'LGAN
                        </span>
                        <h5 class="alt-font font-weight-500 text-extra-dark-gray letter-spacing-minus-1px">
                            O'xshash mahsulotlar
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="product-listing shop-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                            <li class="grid-sizer"></li>
                            {% for product in similar_products %}
                                <li class="grid-item">
                                    <div class="product-box">
                                        <div class="product-image border-radius-6px">
                                            <a href="{% url 'mainapp:product_detail_uz' product.id %}">
                                                <img class="default-image"
                                                {% if product.img_preview %}
                                                    src="{{ product.img_preview.url }}"
                                                {% endif %}
                                                alt=""/>
                                                <img class="hover-image"
                                                {% if product.img_hover %}
                                                    src="{{ product.img_hover.url }}"
                                                {% endif %}
                                                alt=""/>
                                            </a>
                                            <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                                            <div class="product-hover-bottom text-center padding-30px-tb">
                                                <a href="{% url 'mainapp:product_detail_uz' product.id %}"
                                                    class="product-link-icon move-top-bottom"
                                                    data-toggle="tooltip" data-placement="top" title=""
                                                    data-original-title="Quick shop">
                                                    <i class="feather icon-feather-zoom-in"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-footer text-center padding-25px-top xs-padding-10px-top">
                                            <a href="{% url 'mainapp:product_detail_uz' product.id %}" class="text-extra-dark-gray font-weight-500 d-inline-block">{{ product.title_uz }}</a>
                                            <div class="product-price text-medium">{{ product.price }} So'm</div>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                <div>Mahsulot topilmadi</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title" id="exampleModalLabel">
                    Buyurtmangiz bizning ofisimizga yuboriladi, sizga aloqaga chiqamiz
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form id="order_create_modal_form" action="{% url 'mainapp:order_send_uz' %}" method="POST">
                        {% csrf_token %}
                        <input class="large-input margin-25px-bottom border-radius-0px required"
                        type="text" name="name" placeholder="Ismingiz" required />
                        <input class="large-input margin-25px-bottom border-radius-0px"
                        type="email" name="email" placeholder="Email adresingiz" />
                        <input class="large-input margin-25px-bottom border-radius-0px"
                        type="tel" name="phone" placeholder="Telefon raqamingiz" required />
                        <input class="d-none" type="text" value="{{ product.id }}" name="product_id">
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga</button>
                <button type="submit" form="order_create_modal_form" class="btn btn-primary">Buyurtma berish</button>
              </div>
            </div>
          </div>
        </div>

    {% include 'blocks/footer.html' %}
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

