{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{{ article.name }}{% endblock %}
{% block content %}
    {# Header #}
    {% include 'blocks/header.html' %}
    {# End Header #}
    <section class="p-0 mobile-height parallax" data-parallax-background-ratio="0.5" style="background-image: url('{{ article.img_background.url }}');">
        <div class="opacity-light bg-gradient-black-blue z-index-0"></div>
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-lg-7 col-md-10 d-flex flex-column justify-content-center text-center full-screen position-relative z-index-1 md-landscape-h-600px">
                    <h2 class="text-white alt-font font-weight-600 letter-spacing-minus-1 text-shadow-large sm-no-text-shadow">{{ article.name }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-right-side-bar">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom">
                    <div class="row">
                        <div class="col-12 blog-details-text last-paragraph-no-margin margin-6-rem-bottom">
                            <ul class="list-unstyled margin-2-rem-bottom">
                                <li class="d-inline-block align-middle margin-25px-right"><i class="feather icon-feather-calendar text-fast-blue margin-10px-right"></i><a href="blog-grid.html">{{ article.pub_date | date:"d.m.Y" }}</a></li>
                                <li class="d-inline-block align-middle"><i class="feather icon-feather-user text-fast-blue margin-10px-right"></i>{{ article.author }}</li>
                            </ul>
                            <h5 class="alt-font font-weight-500 text-extra-dark-gray margin-4-half-rem-bottom">{{ article.name }}</h5>
                            <img src="{{ article.img_post.url }}" alt="" class="w-100 border-radius-6px margin-4-half-rem-bottom">
                            <blockquote class="alt-font border-width-4px border-color-fast-blue margin-60px-left pr-0 margin-5-half-rem-tb md-margin-40px-left sm-no-margin-left wow animate__fadeIn">
                                <p>{{ article.short_description }}</p>
                                <footer class="text-medium text-fast-blue d-inline-block text-uppercase">Аннотация</footer>
                            </blockquote>
                            {{ article.text | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Footer #}
    {% include 'blocks/footer.html' %}
    {# End Footer #}
    {# ScrollTopButton #}
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
    {# End ScrollTopButton #}
{% endblock %}
