{% extends 'wrapper.html' %}
{% load static %}
{% block title %}In Vitro - Yangiliklar{% endblock %}
{% block content %}
    {# Header #}
    {% include 'blocks/header.html' %}
    {# End Header #}
    <section class="p-0 mobile-height parallax" data-parallax-background-ratio="0.5" style="background-image: url('{% static 'img/home-corporate-parallex-bg.jpg' %}');">
        <div class="opacity-light bg-gradient-black-blue z-index-0"></div>
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-lg-7 col-md-10 d-flex flex-column justify-content-center text-center full-screen position-relative z-index-1 md-landscape-h-600px">
                    <h2 class="text-white alt-font font-weight-600 letter-spacing-minus-1 text-shadow-large sm-no-text-shadow">“IN VITRO” Yangiliklar</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light-gray pt-0 padding-eight-lr lg-no-padding-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 blog-content">
                    <ul class="blog-overlay-image blog-wrapper grid grid-loading grid-4col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                        <li class="grid-sizer"></li>
                        <!-- start blog item -->
                        {% for news in news %}
                            <li class="grid-item wow animate__fadeIn">
                                <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                    <div class="blog-post-image">
                                        <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img98.jpg')"></div>
                                        <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                    </div>
                                    <div class="post-details">
                                        <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Creative</a>
                                        <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block">{{ news.date|date:'d b Y'}}</a>
                                        <a href="blog-post-layout-01.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">{{ news.name }}</a>
                                        <a href="blog-post-layout-01.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Читать далее</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.2s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img99.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Concept</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">22 Jun 2020</a>
                                    <a href="blog-post-layout-02.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Simplicity is process the obvious and adding meaningful</a>
                                    <a href="blog-post-layout-02.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.4s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img100.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Modern</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">05 Aug 2020</a>
                                    <a href="blog-post-layout-03.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Everything know about midi skirts and how to wear fashion</a>
                                    <a href="blog-post-layout-03.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img101.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Furniture</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">15 Apr 2020</a>
                                    <a href="blog-post-layout-04.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Recognizing the need is the primary condition for design</a>
                                    <a href="blog-post-layout-04.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img102.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Fashion</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">28 Mar 2020</a>
                                    <a href="blog-post-layout-05.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Fashion is something barbarous on for it innovation</a>
                                    <a href="blog-post-layout-05.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.2s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img103.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Lifestyle</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">18 Feb 2020</a>
                                    <a href="blog-post-layout-01.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Rappers wear diamonds to compensate for the fashion sense</a>
                                    <a href="blog-post-layout-01.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.4s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img104.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Business</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">15 Jan 2020</a>
                                    <a href="blog-post-layout-02.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">The details are not the details. They make the best design</a>
                                    <a href="blog-post-layout-02.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img105.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Finance</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">26 Dec 2019</a>
                                    <a href="blog-post-layout-03.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Creativity is only as obscure as the your  reference</a>
                                    <a href="blog-post-layout-03.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img106.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Mountains</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">09 Nov 2019</a>
                                    <a href="blog-post-layout-04.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Any product that needs a manual to hard work is broken</a>
                                    <a href="blog-post-layout-04.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.2s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img107.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Creative</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">16 Oct 2019</a>
                                    <a href="blog-post-layout-05.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Good design is obvious. Great design is more  transparent</a>
                                    <a href="blog-post-layout-05.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.4s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img108.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Events</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">25 Sep 2019</a>
                                    <a href="blog-post-layout-01.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">All progress takes place outside of the comfort zone</a>
                                    <a href="blog-post-layout-01.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn" data-wow-delay="0.6s">
                            <div class="blog-post bg-white box-shadow-medium border-radius-5px padding-3-half-rem-all xl-padding-2-half-rem-all">
                                <div class="blog-post-image">
                                    <div class="cover-background h-100 w-100" style="background-image: url('images/blog-img109.jpg')"></div>
                                    <div class="blog-overlay-image bg-transparent-gradiant-black"></div>
                                </div>
                                <div class="post-details">
                                    <a href="blog-masonry.html" class="blog-category alt-font border-color-medium-gray margin-6-half-rem-bottom">Nature</a>
                                    <a href="blog-masonry.html" class="post-date alt-font font-weight-500 text-small text-uppercase d-block" title="">30 Oct 2019</a>
                                    <a href="blog-post-layout-02.html" class="post-title alt-font text-large font-weight-600 text-dark-slate-blue text-uppercase d-block margin-15px-bottom w-95 sm-w-100">Reason and judgment are the qualities of a good leader</a>
                                    <a href="blog-post-layout-02.html" class="post-read alt-font font-weight-500 text-extra-small text-uppercase text-gradient-sky-blue-pink border-bottom border-gradient-sky-blue-pink d-inline-block">Continue reading</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {# Footer #}
    {% include 'blocks/footer.html' %}
    {# End Footer #}
{% endblock %}